.App {
  text-align: center;
  overflow: hidden;
}
/*header style*/
.header{
  text-align: center;
  background: linear-gradient(80deg,rgb(89, 89, 228),purple);
  padding: 20px;
  font-size: 30px;
  color: aliceblue;
  font-weight: 600;
  width: 100%;
}


/*Add contact style*/
.adddiv{
  background-color:rgb(188, 225, 241);
  margin: 60px 250px;
  height: 60vh;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  


}
.addheading{
  padding:20px;
  font-family: Arial, Helvetica, sans-serif;


}

/*contact list style*/
form>input{
  padding: 5px ;
  margin:20px
}

.addbtn{
  background-color: rgb(134, 77, 175);
  color: aliceblue;
  padding: 10px ;
  border-radius: 5px;
  border-color: rgb(122, 88, 147);
  margin-top: 90px;
  margin-bottom: 20px;
}

.contactHeader{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.contacts{
  background-color: rgb(178, 178, 235);
  padding: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:10px 20px;
  border-radius: 5px;
}
.contacts>div{
  width: 200px;
}
.contacts>span{
  cursor: pointer;
  float: right;
}
@media only screen and (max-width:750px)
{
  .adddiv{
    margin: 60px 50px;
    overflow: hidden;
    height: auto;

  }
  .contacts{
    flex-direction: column;
    width: 100%;
    margin: 10px 0px;
    align-items: center;

  }
  .contacts>span{
    text-align: center;
  }

}